@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles,scripts"})
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

<div class="co-container-outer">
	<div class="co-container-inner sc-element">
		@Edit.Toolbar(Content)
		<div @Koi.Class("all='sc-element co-google-map-container' bs3='embed-responsive embed-responsive-16by9' bs4,oth='embed-responsive embed-responsive-16by9'")>
			<div @Koi.Class("all='co-openstreetmap-map' bs3='embed-responsive-item' bs4,oth='embed-responsive-item'") id="Openstreetmap-@Dnn.Module.ModuleID">
			</div>
			<div class="co-openstreetmap-map-content" id="Openstreetmap-Content-@Dnn.Module.ModuleID" style="display:none;">
				<div>
					<strong>@Content.Company</strong>
					<div>
						@Html.Raw(Content.Description)
					</div>
					@{
						var directionurl = "https://maps.google.com/maps?daddr="+Content.Street.Replace(" ", "+")+"+"+Content.ZipCode.Replace(" ", "+")+"+"+Content.City.Replace(" ", "+")+"+"+Content.Country.Replace(" ", "+")+"&amp;saddr=&amp;f=d&amp;hl=de&amp;ie=UTF8&amp;z=16";
						if (Convert.ToInt32(Content.GPSLng) > 0){
							directionurl = "https://www.google.com/maps/dir//"+Content.GPSLat.ToString().Replace(',', '.')+","+Content.GPSLng.ToString().Replace(',', '.');
						}
					}
					<a target="_blank" href="@directionurl">@Content.LabelDirections</a>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function(){
		var map = new L.Map('Openstreetmap-@(Dnn.Module.ModuleID)');
		var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
		var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});		

		// start the map in South-East England
		map.setView(new L.LatLng(@Content.GPSLat.ToString().Replace(',', '.'), @Content.GPSLng.ToString().Replace(',', '.')),@Presentation.Zoom);
		map.addLayer(osm);
		
		var marker = L.marker([@Content.GPSLat.ToString().Replace(',', '.'), @Content.GPSLng.ToString().Replace(',', '.')]).addTo(mymap);
				
	});
</script>
